<div class="container mt-5">
  <h2>Task List</h2>

  <div class="row">
    <!-- Left Column: Task List -->
    <div class="col-md-5">
      <!-- Searchbox -->
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Search tasks..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
      />

      <div class="mb-3">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm me-2"
          (click)="setDisplayOption('all')"
          [class.active]="displayOption === 'all'"
        >
          All
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm me-2"
          (click)="setDisplayOption('incomplete')"
          [class.active]="displayOption === 'incomplete'"
        >
          Incomplete
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm me-2"
          (click)="setDisplayOption('completed')"
          [class.active]="displayOption === 'completed'"
        >
          Completed
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          (click)="setDisplayOption('today')"
          [class.active]="displayOption === 'today'"
        >
          Due Today
        </button>
      </div>

      <ul class="list-group">
        <li
          *ngFor="let task of filteredTasks"
          class="list-group-item d-flex justify-content-between align-items-center"
          (click)="selectTask(task)"
          [class.active]="task === selectedTask"
          [class.completed]="task.completed"
        >
          <!-- Task title on the left -->
          <div>
            {{ task.title }}
          </div>

          <!-- Badges for deadline and assignee on the right -->
          <div>
            <span class="badge bg-primary me-1">{{ task.assigneeName }}</span>
            <span class="badge bg-dark">{{
              task.deadline | date : "shortDate" | slice : 0 : -3
            }}</span>
          </div>
        </li>
      </ul>
    </div>

    <!-- Right Column: Task Details -->
    <div class="col-md-7">
      <app-task
        *ngIf="selectedTask"
        [task]="selectedTask"
        (taskDeleted)="onTaskDeleted($event)"
        (toEditTask)="onEditTask($event)"
      ></app-task>
      <app-edit-task
        *ngIf="isEditingTask && selectedTask"
        [task]="selectedTask"
        (taskUpdated)="onTaskUpdated($event)"
      ></app-edit-task>
    </div>
  </div>
</div>
