<div class="card mb-3">
  <div class="card-body">
    <h3>{{ task?.title }}</h3>
    <div class="mt-3">
      <p>{{ task?.description }}</p>
      <p>
        <strong>Assignee: </strong>
        <span class="badge bg-primary"
          ><h6>
            {{ task?.assigneeName }}
          </h6>
        </span>
      </p>
      <p><strong>Completed:</strong> {{ task?.completed ? "Yes" : "No" }}</p>
      <p><strong>Deadline:</strong> {{ task?.deadline | date: 'shortDate' | slice:0: -3 }}</p>
      <p>
        <strong>Created Time:</strong>
        {{ task?.createdTime | date : "shortDate" | slice : 0 : -3 }}
      </p>
      <!-- Show updated only if exist -->
      <ng-container *ngIf="task?.updatedTime">
        <p>
          <strong>Updated Time:</strong>
          {{ task?.updatedTime | date : "shortDate" | slice : 0 : -3 }}
        </p>
      </ng-container>
    </div>

    <!-- Action Buttons -->
    <div class="mt-4 d-flex justify-content-end">
      <button
        *ngIf="!task?.completed"
        class="btn btn-success btn-sm me-2"
        (click)="markAsComplete()"
      >
        Complete
      </button>

      <button
        *ngIf="task?.completed"
        class="btn btn-secondary btn-sm me-2"
        (click)="reopenTask()"
      >
        Re-open
      </button>

      <ng-container *ngIf="isAdmin">
        <button class="btn btn-warning btn-sm me-2" (click)="editTask()">
          Edit
        </button>

        <button class="btn btn-danger btn-sm" (click)="deleteTask()">
          Delete
        </button>
      </ng-container>
    </div>
  </div>
</div>
